body {
	background-color: lightblue;
}

#Main_App_Container {
	background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.marginAuto {
	margin: auto;
}

.positionAbsolute {
	position: absolute;
}

.positionRelative {
	position: relative;
}

.bottom30px {
	bottom: 30px;
}

.fullScreenDiv{
	width:100vw;
	height:100vh
}

.textAlignCenter {
	text-align: center;

}
.marginBottomZero {
	margin-bottom: 0;
}

.noWidth {
	width: initial;
}

.noscroll { 
	overflow: hidden;
}

.none {
	display: none;
}

.marginTop15px {
	margin-top: 15px;
}

.margin15px {
	margin: 15px;
}

.fullWidth {
  width: 100%;
}

.width180px {
	width: 180px;	
}

.width100percent {
	width: 100%;
}

.marginTopM3px {
	margin-top: -3px;
}

.marginLeftZero {
	margin-left: 0!important;
}

.marginBottom30px {
	margin-bottom: 30px;
}

.marginBottom20px {
	margin-bottom: 20px;
}

.marginTop30px{
	margin-top: 30px;
}

.Pointer {
	cursor: pointer;
}

.flexDirectionRow {
	flex-direction: row;
}

.noUnderline {
	text-decoration: none;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.colorWhite {
	color: white;
}

.hoverUnderline {
	text-decoration: none;
}

.hoverUnderline:hover {
	text-decoration: underline;
}

.textDecorationNone {
	text-decoration: none!important;
}


.blueText {
	color: #002f6c;
}


.showLessThan700 {
	display: none;
}

.hideLessThan700 {
	display: inherit;
}

.location_Display {
	font-weight: 300;
}

@media (max-width: 700px) {
  .showLessThan700 {
    display: inherit;
  }

  .hideLessThan700 {
    display: none;
  }
}

.Carousel_Container_Box{
  display: block;
  padding-left: 30px;
  padding-right: 0px;
  margin-bottom: 30px;
  margin-top: 0;
  background-size: cover;
  background-position: center;
}

.Maintrack {
  padding: 15px;
  max-width: 900px;
  margin: auto;
}

.slick-next:before, .slick-prev:before {
    color: #000!important;
    transform: translateX(-29px);
}

.slick-next {
  transform: translateX(-29px) translateY(-6px);
  right: 5px!important;
}

.slick-prev {
  transform: translateX(0px) translateY(-6px);
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
    display: flex!important;

}

hr {
	margin-top: 0;
	margin-bottom: 10px;
	background-color: lightgrey;
	height: 2px;
	color: lightgrey;
	width: 100%;
}

h1 {
	margin-top: 0px;
	margin-bottom: 20px;	
	font-weight: 300;
	font-size: 40px;
	letter-spacing: 0.5px;
	color: #484848;

}

.h1input {
	margin-top: 0px;
	margin-bottom: 20px;	
	font-weight: 300;
	font-size: 40px;
	letter-spacing: 0.5px;
	color: #484848;
	margin-bottom: 15px;
	width: 100%;
}

@media(max-width: 700px) {
  h1 {
  font-size: 32px;
	}
	 .h1input {
  font-size: 32px;
  margin-bottom: 15px;
  width: 100%;
	}
}

h2 {
	margin-top: 0;
	margin-bottom: 10px;	
	font-weight: 400;
	font-size: 24px; 
	color: #484848;
}

.h2input {
	margin-top: 0;
	margin-bottom: 10px;	
	font-weight: 400;
	font-size: 24px; 
	color: #484848;
	margin-bottom: 15px;
	width: 100%;
}

h3 {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 18px; 
	color: #484848;	
}

.h3input {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 18px; 
	color: #484848;	
	margin-bottom: 15px;
	width: 100%;
}

h4 {
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 16px; 
	color: #484848;
}

.h4input {
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 16px; 
	color: #484848;
	margin-bottom: 15px;
	width: 100%;
}

p {
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 16px; 
	color: #484848;
	text-decoration: none;
}

.react-datepicker__input-container input {
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 16px; 
	color: #484848!important;
	width: 220px;
	background-color: white;
	-webkit-text-fill-color: #484848!important;
	opacity: 1!important;; /* required on iOS */
}

.pinput {
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 16px; 
	color: #484848;
	margin-bottom: 15px;
	width: 100%;
}

.standardinput {
	width: 100%;
}

ul {
	margin-top: 0;
	margin-bottom: 15px;
	margin-left: 30px;
	font-weight: inherit;
	font-size: inherit; 
	color: inherit;
	color: #484848;
}

ol {
	margin-top: 0;
	margin-bottom: 15px;
	margin-left: 30px;
	font-weight: inherit;
	font-size: inherit; 
	color: inherit;
	color: #484848;
}

li {
	margin-top: 0;
	margin-bottom: 6px;
	font-weight: inherit;
	font-size: inherit; 
	color: inherit;
	color: #484848;
}

summary {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: inherit;
	font-size: inherit; 
	color: inherit;
	color: #484848;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

textarea {
	width: 100%;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 16px; 
	color: #484848;
	border: 0.5px solid lightgrey;
}

a {
	font: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

label {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
	font-size: 18px; 
	color: #484848;	
}

img {
	display: block;
}

.littleInput {
	margin-bottom: 10px;
	border: solid lightgrey 0.1px;
	width: 100%;
	height: 25px;
	font-weight: 400;
	font-size: 16px; 
	color: #002f6c;
	padding: 5px;
}

.topTitle {
	margin-top: 10px;
}

.bigInput {
    margin-left: 20px;
    margin-bottom: 18px;
    border: solid lightgrey 1px;
    border-radius: 7px;
    width: calc(100% - 40px);
    height: 35px;
    font-weight: 300;
    font-size: 18px;
    color: #484848;
    padding: 12px 12px 14px 10px;
}

.bigInput:focus {
    border: solid #002f6c 1px;
}

.bigButton {
	background-color: #002f6c;
	margin-left: 20px;
  margin-bottom: 18px;
  border: none;
  border-radius: 7px;
  width: calc(100% - 40px);
  font-weight: 400;
  font-size: 20px;
  color: white;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  height: 54px;
}

.bigMessageSenderButton {
	background-color: #002f6c;
	margin: auto;
  margin-bottom: 18px;
  border: none;
  border-radius: 7px;
  max-width: 600px;
  font-weight: 400;
  font-size: 20px;
  color: white;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  height: 54px;
}

.bigSubjectButton {
	background-color: #002f6c;
  margin-bottom: 18px;
  border: none;
  border-radius: 7px;
  width: calc(100% - 40px);
  font-weight: 400;
  font-size: 20px;
  color: white;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  height: 54px;
}

.bigEventbriteButton {
	background-color: #002f6c;
  margin-bottom: 18px;
  border: none;
  border-radius: 7px;
  width: calc(100% - 40px);
  font-weight: 400;
  font-size: 20px;
  color: white;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  height: 54px;
}

.smallButton {
	background-color: #002f6c;
	margin-bottom: 18px;
	padding: 4px;
  border: none;
  border-radius: 3px;
  font-weight: 400;
  font-size: 16px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.bigButton:hover {
	background-color: #043e86;
}

.smallButton:hover {
	background-color: #043e86;
}

.greenButton {
	background-color: #4f7a8c;
}

.greenButton:hover {
	background-color: #5d8ea2;
}

.tanButton {
	background-color: #8c7c68;
}

.tanButton:hover {
	background-color: #9c8b75;
}

.purpleButton {
	background-color: #564188;
}

.purpleButton:hover {
	background-color: #6c579e;
}

.bigAButton {
background-color: #002f6c;
  border: none;
  border-radius: 7px;
  width: calc(100% - 40px);
  font-weight: 400;
  font-size: 20px;
  color: white;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: 54px;
}

.bigAButton:hover {
	background-color: #043e86;
}


.Modal_Styled {
  position:fixed;
  margin: auto;
  padding: 10px 20px 20px 20px;
  width: 600px;
  background-color: white;
  text-align: left;
  left: calc(50% - 300px);
  z-index: 10;
}

@media (max-width: 650px) {
	.Modal_Styled {	
		width: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	.Modal_Grey_Cover {
		background-color: white;
	}
}

.Modal_Grey_Cover {
  padding: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  z-index: 9;
  text-align: center;
}

.Modal_S {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 100;
}

.Modal_Xbox {
  margin-bottom: 5px;
}


.CalendarInvite {
	padding: 8px 15px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: #002f6c;
}

.CalendarInvite:hover {
	background-color: #043e86;
	cursor: pointer;
}

textarea{
	width: 100%;
}

.HeadingLink { 
  margin: 0;
  padding: 0;
  color: white;   
  text-decoration: none;
}

form{
	margin-bottom: 0px;
}
.ApplicationFormGroup {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: stretch;
	margin-bottom: 0;
}

.ApplicationForm {
}

.radiogroup {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* to the body element */
.noscroll { overflow: hidden; }

.none {display: none; }

.InputBox > p > img {
	vertical-align: middle;
}

.InputBox {
	width: 100%;
}

.applicationLine {
	font-size: 18px;
	color:#002f6c;
	margin-bottom: 15px;
}


.applicationLineEssay {
	font-size: 16px;
	color:#002f6c;
	margin-bottom: 15px;
}

.ApplicationFormSelect {
	width: 190px;
	height: 28px;
	font-size: 18px;
	color:#002f6c;
}

.modalLabel {
}

.ApplicationFormOption {	
	color:#002f6c;
}

.SubjectCarouselNoScriptDiv {
	display: flex;
  width: 100%;
  padding: 0 15px 30px 15px;
}

.SubjectCarouselNoScriptA {
	width: 20%;
  margin: 0 15px;
}

@media (max-width: 1400px) {
	.SubjectCarouselNoScriptA {
		width: 25%;
	}
	.SubjectCarouselNoScriptA:nth-child(1) {
		display: none;
	}
}

@media (max-width: 1100px) {
	.SubjectCarouselNoScriptA {
		width: 33.33333%;
	}
	.SubjectCarouselNoScriptA:nth-child(2) {
		display: none;
	}
}

@media (max-width: 800px) {
	.SubjectCarouselNoScriptA {
		width: 50%;
	}
	.SubjectCarouselNoScriptA:nth-child(3) {
		display: none;
	}
}

.Waiting_Container {
	width: 100%;
	margin: auto;
	text-align: center;
	height: 300px;
	padding-top: 148px;
}

.Waiting_Container_Short {
	width: 100%;
	margin: auto;
	text-align: center;
	height: 130px;
	padding-top: 63px;
}

.Waiting_Img {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: 148px;
	margin-bottom: 148px;
}

.Waiting_Img_Short {
	margin-left: auto;
	margin-right: auto;
	margin-top: 63px;
	margin-bottom: 63px;
	position: relative;
}

.BottomLink {
    color: #afafaf;
    font-size: 20px;
    text-decoration: none;
}

.TopLeftLink {
    color: #afafaf;
    font-size: 20px;
    text-decoration: none;
}

.newPInput {
	padding: 10px;
    border: 0.5px solid #dadada;
    border-radius: 6px;
	font-size: 16px; 
	color: #484848;
	margin-bottom: 15px;
}

.newPInput:focus {
    border: 1px solid #3162a2
}

.buttonText {
	color: #3162a2;
	cursor: pointer;
	text-decoration: none;
}

.buttonText:hover {
	text-decoration: underline;
}

.buttonTextInactive{
	color: #3162a2;
	text-decoration: none;
}

.smallLinkText {
	color: #3162a2;
	cursor: pointer;
	font-size: 12px;
	text-decoration: none;
}

.smallLinkText:hover {
	text-decoration: underline;
}

.Modal_XboxNoex {
	display: none;
}

.list {
  user-select: none;
}

.item {
  cursor: grab;
  user-select: none;
}

.dragged {
  cursor: grabbing;
}

.reactMarkdownContainer > *:last-child {
	margin-bottom: 0;
}

@media (max-width: 700px) {
  .Maintrack {
    width: 100%;
  }
  
	.Modal_XboxNoex {
		display: block;
	}
}
