.Headings_And_Text_H1 {
	margin-top: 0px;
	margin-bottom: 20px;	
	font-weight: 300;
	font-size: 40px;
	letter-spacing: 0.5px;
	color: #484848;
}

.Headings_And_Text_MainH1 {
	margin-top: 10px;
	margin-bottom: 20px;	
	font-weight: 300;
	font-size: 40px;
	letter-spacing: 0.5px;
	color: #484848;
	text-align: center;
}

.Headings_And_Text_H2 {

}

.Headings_And_Text_H3 {

}

.Headings_And_Text_H4 {

}

.Headings_And_Text_H5 {

}

.Headings_And_Text_H6 {

}

.Headings_And_Text_P {

}
